.j-container {
	margin-left: 0px;
	margin-top: 0px;
	width: 300px;
	height: 700px;
	overflow: hidden;
}
.j-origin {
	width: 300px;
	height: 330px;
}
.j-result {
	width: 300px;
	height: 330px;
}
.j-take-photo {
	margin-left: 120px;
	margin-top: 80px;
}
